.service__page-content-text-10 {
    display: grid;
    grid-template-rows: 165px 415px;
}



@media (max-width:1680px) {
    .service__page-content-text-10 {
        display: grid;
        grid-template-rows: 145px 425px;
    }

    .service__page-content-text-10 ul li {
        line-height: 30px;
    }
}

@media (max-width:1100px) {
    .service__page-content-text-10 {
        display: grid;
        grid-template-rows: 130px 400px;
    }

    .service__page-content-text-10 ul li {
        line-height: 25px;
    }
}

@media (max-width:935px) {
    .service__page-content-text-10 ul li {
        line-height: 21px;
    }

    .service__page-content-text-10 {
        display: grid;
        grid-template-rows: 100px 460px;
    }
}

/* mobile */
@media (max-width:767px) {
    .service__page-content-text-10 {
        width: 80%;
        display: grid;
        grid-template-rows: 90px 400px;
    }
}

@media (max-width:550px) {
    .service__page-content-text-10 {
        width: 90%;
        display: grid;
        grid-template-rows: 90px 400px;
    }
}

@media (max-width:470px) {
    .service__page-content-text-10 {
        display: grid;
        grid-template-rows: 80px 400px;
    }
}

@media (max-width:375px) {
    .service__page-content-text-10 {
        display: grid;
        grid-template-rows: 75px 400px;
    }
}

@media (max-width:350px) {
    .service__page-content-text-10 {
        display: grid;
        grid-template-rows: 70px 400px;
    }
}

@media (max-width:320px) {
    .service__page-content-text-10 {
        display: grid;
        grid-template-rows: 70px 400px;
    }
}